body{
    padding: 0;
    margin: 0;
}
.container{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #f00;
}
.header-left{
    width: 380px;
    height: 100%;
    float: left;
    background-color: blueviolet;
}
.header-right{
    width: 260px;
    height: 100%;
    float: right;
    background-color: blueviolet;
}
.top{
    height: 1210px;
    background-color: #fff;
}
.top-nav{
    height: 100px;
    background-color: #f00;
    margin-bottom: 14px;
}
.top-slider{
    position: relative;
    height: 460px;
    background-color: #00f;
    margin-bottom: 14px;
}
.slider-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width:234px;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.top-recommend{
    height: 170px;
    background-color: #0f0;
    margin-bottom: 26px;
}
.recommend-left{
    width: 234px;
    height: 100%;
    float: left;
    background-color:skyblue;
}
.recommend-right{
    float: right;
    width: 978px;
    height: 100%;
    border: 0px solid #000;
}
.recommend-right >ul{
    margin-top: 0px;
    height: 100%;
    list-style:none;
}
.recommend-right >ul li{
    float: left;
    width: 300px;
    border: 0px solid red;
    height: 100%;
    background-color: blue;
    opacity: 0.5;
}
.recommend-right >ul li+li{
    margin:0 5px;
}
.top-flashsale{
    height: 438px;
    background-color: bisque;
}
.flashsale-title{
    height: 43px;
    background-color: purple;
}
.flashsale-content{
    height: 380px;
    border: 1px solid #ff4455;
}
.content-timer{
    width: 234px;
    height: 100%;
    background-color: #ffffff;
    float: left;
}
.content-shops{
    margin-top: 0px;
    overflow: hidden;
    height: 100%;
    background-color: #6effb1;
}
.content-shops >li{
    list-style: none;
    float: left;
    width: 210px;
    height: 100%;
    background-color: #ffffff;
    margin:0 12px;
}
.center{
    margin: 0 auto;
    margin-bottom: 60px;
    padding-top: 60px;
    height: 1791px;
    width: 1226px;
    /*background-color: #ffffff;*/
}
.center_phone{
    margin-bottom: 18px;
    height: 686px;
    background-color: yellow;
}
.phone_title{
    height: 58px;
    background-color: black;
}
.phone_content{
    height: 628px;
    background-color: red;

}
.phone_left{
    width: 234px;
    height: 100%;
    background-color: darkgreen;
    margin-right: 14px;
    float: left;
}
.phone_right{
    overflow: hidden;
    height: 100%;
    background-color: #cccccc;
}
.phone_right>li{
    margin-bottom: 28px;
    padding-left: 14px;
    float: left;
    width: 25%;
    height: 300px;
    border: 1px solid #000;
    background-clip: content-box;
    background-color: #f00;
    list-style: none;
}
.phone_right>li:nth-child(even){
    background-color: #6effb1;
}
.center_household{
    margin-bottom: 8px;
    height: 686px;
    background-color: yellow;
}
.household_title{
    height: 58px;
    background-color: black;
}
.household_content{
    height: 614px;
}
.household_content>li{
    list-style: none;
    position: relative;
    margin-left: 14px;
    margin-bottom: 28px;
    float: left;
    width: 200px;
    height: 300px;
    background-color: #d7d7d7;
    margin: 5px 22px;
}
.household_content>li:nth-child(1),
.household_content>li:nth-child(6){
    margin-left: 0;
}
.center-video{
    height: 343px;
    background-color: purple;
}
.video-title{
    height: 58px;
    background-color: black;
}
.video-content{
    height: 285px;
}
.video-content>li{
    float: left;
    width: 240px;
    height: 100%;
    border:1px solid #000;
    list-style: none;
    margin-top: -16px;
}
.video-content>li+li{margin-left: 14px;}

.bottom{
    height: 274px;
    background-color: #fff;
}
.bottom-service{
    height: 80px;
    background-color: seagreen;
}
.bottom-service>ul{
    height: 100%;
}
.bottom-service>ul li{
    list-style: none;
    width: 18%;
    border: 1px solid blueviolet;
    height: 100%;
    float: left;
    margin: 0 2px;
    background: #6effb1;
}
.bottom-links{
    height: 100%;background: gold;
}
.links_left ul li{
    float: left;
    width: 15%;
    height: 150px;
    background-color: #6effb1;
    list-style: none;
    border: 1px solid green;
    margin:5px 2px 0 2px;

}
.footer_top{
    width: 80%;
    height:120px;
    margin: 0 auto;
    background-color: #6effb1;
}
.footer_top:hover{
    background-color: lime;
}
